# Python
__pycache__/
*.py[cod]
*.pkl
*.egg-info/

# Virtual envs
.venv/
venv*/
pip/

# HuggingFace or cache
.cache/
*.safetensors
*.pt
*.ckpt

# Output folders
outputs/
*.log
*.png
*.jpg

# System
.DS_Store
*.db
.env
